body{
	background-image: url(bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo{
	position: absolute;
	top: 0px;	
	display: block;
}

p{
    position: absolute;
    font-style: Arial;
    font-size: 90px;
    color: white;

}

ul {
    list-style-type: none;
    margin: -10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 195px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}